.hero-img {
    background-image: url(https://images.unsplash.com/photo-1504609813442-a8924e83f76e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.bggg {
    width: fit-content;
    background-size: cover;
    background-position: 100%;
}

.heroimg2 {
    size: 80%;

}